@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root {
  --gunmetal: #182825ff;
  --azul: #016fb9ff;
  --pacific-cyan: #22aed1ff;
  --air-force-blue: #6d8ea0ff;
  --khaki: #afa98dff;
    font-family: Inter, sans-serif;
  }