---
import Category from "./Category.astro";

export const CATEGORIES = [
  {
    id: "national",
    name: "National Teams",
    desc: "Camisetas de selecciones nacionales",
    items: [
      {id: "arg", name: "Camiseta de Argentina", price: 0, images: ["/arg-1.webp", "/arg-2.webp", "/arg-3.webp"], logo: ""},
      {id: "deu", name: "Camiseta de Alemania", price: 0, images: ["/deu-1.webp", "/deu-2.webp", "/deu-3.webp"], logo: ""},
      {id: "jpn", name: "Caminseta de Japón", price: 0, images: ["/jpn-1.webp", "/jpn-2.webp", "/jpn-3.webp"], logo: ""}
  ]
  },
  {
    id: "premier-league",
    name: "Premier League",
    desc: "Camisetas de la Premier League de Inglaterra",
  },
  {
    id: "bundesliga",
    name: "Bundesliga",
    desc: "Camisetas de la Bundesliga de Alemania",
  },
  {
    id: "serie-a",
    name: "Serie A",
    desc: "Camisetas de la Seria A de Italia",
  },
  {
    id: "la-liga",
    name: "La Liga",
    desc: "Camisetas de La Liga de España"
  }
];
---

<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-10 lg:gap-y-32 md:grid-cols-2">
      {
        CATEGORIES.map((category) => {
          return <Category category={category} />;
        })
      }
    </div>
  </div>
</main>
