---
import Category from "./Category.astro";
import { CATEGORIES } from "@/lib/CATEGORIES";

---

<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-10 lg:gap-y-32 md:grid-cols-2">
      {
        CATEGORIES.map((category) => {
          return <Category category={category} />;
        })
      }
    </div>
  </div>
</main>
