---

const { category } = Astro.props

---

<figure>
    <img
      class="w-full rounded-3xl shadow-2xl"
      src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
      alt=""
      width="1310"
      height="873"
    />
    <div class="mt-4 flex justify-between px-6">
      <div>
        <h3 class="text-sm text-negroni-500">
          <a href="#">
            <span aria-hidden="true" class="absolute inset-0"></span>
            Ingresá
          </a>
        </h3>
        <p class="mt-1 text-lg font-medium leading-6 text-white">{category.name}</p>
      </div>
    </div>
  </figure>