---
import { Home as HomeIcon } from "iconoir-react";
---

<a
  href="/"
  class="shadow cursor-pointer fixed m-8 left-0 top-0 z-10 flex items-center justify-center p-2 text-black bg-color-900 rounded-lg hover:scale-110 transition"
>
  <HomeIcon />
</a>
