---
import { SendMail } from "iconoir-react"
---

<a href="mailto:camisetasnanni@gmail.com?subject=Camisetas Nanni | Consultas" class="cursor-pointer fixed bottom-10 size-12 rounded-md right-10 z-10 grid place-content-center text-color-500 group">
    <SendMail className="size-10 group-hover:translate-x-3 transition-all" />
</a>