<a
  href="mailto:camisetasfan@gmail.com?subject=Camisetas FAN | Consultas"
  class="hover:scale-105 transition cursor-pointer fixed bottom-28 rounded-full shadow-2xl p-1 pl-0.5 drop-shadow-2xl bg-color-400 right-10 z-10 grid place-content-center text-white group"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="p-1"
    width="2.5em"
    height="2.5em"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    ><path
      d="M21 3l-9 3-9 3 4.55 1.45 4.55 1.45 4.45-4.45zm0 0l-3 9-3 9-1.45-4.55-1.45-4.55 4.45-4.45z"
    ></path></svg
  >
</a>
