---
const { placeholder } = Astro.props;
---

<main class="relative grid place-content-center">
  <input
    id="search-input"
    placeholder={placeholder}
    type="search"
    class="relative w-[800px] h-16 px-4 rounded-xl bg-color-400 placeholder:text-white text-white focus:outline-none"
  />
</main>

<script>
  const searchInput = document.getElementById(
    "search-input"
  ) as HTMLInputElement;
  let timeoutId: ReturnType<typeof setTimeout>;

  searchInput.addEventListener("input", (event: Event) => {
    const query = (event.target as HTMLInputElement).value;
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const url = new URL(window.location.href);
      if (query) {
        url.searchParams.set("q", query);
      } else {
        url.searchParams.delete("q");
      }
      window.history.pushState({}, "", url.toString());
    }, 500);
  });
</script>
