---
import Cart from "@/components/Cart"
import Footer from "@/components/Footer.astro";
import Home from "@/components/Home.astro";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="bg-color-100 flex flex-col min-h-screen justify-start">
    <Home />
    <Cart client:only="react" />
    <slot />
    <Footer />
  </body>
</html>
